/* line 1, ../sass/_frontpage.scss */
body {
  padding-top: 50px;
}

/* line 5, ../sass/_frontpage.scss */
#search-form {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}

/* line 12, ../sass/_frontpage.scss */
#mainpage {
  background-color: white;
}

/* line 16, ../sass/_frontpage.scss */
#side-menu {
  z-index: -1;
  padding-top: 50px;
  background-color: #FACC98;
}
/* line 21, ../sass/_frontpage.scss */
#side-menu .navmenu-brand {
  color: black;
  font-weight: bold;
}
/* line 26, ../sass/_frontpage.scss */
#side-menu .navmenu-nav > li > a {
  color: black;
}

/* line 31, ../sass/_frontpage.scss */
#masthead {
  min-height: 270px;
  background-color: #000044;
  color: #aaaacc;
}

/* line 37, ../sass/_frontpage.scss */
#masthead h1 {
  font-size: 55px;
  line-height: 1.25em;
}

/* line 42, ../sass/_frontpage.scss */
#masthead .well {
  margin-top: 13%;
  background-color: #111155;
  border-color: #000033;
}

/* line 48, ../sass/_frontpage.scss */
.icon-bar {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  /* line 53, ../sass/_frontpage.scss */
  #masthead h1 {
    font-size: 100px;
  }
}
/* line 58, ../sass/_frontpage.scss */
.navbar-bright {
  background-color: #111155;
  color: #fff;
}

/* line 63, ../sass/_frontpage.scss */
.navbar-bright a, #masthead a, #masthead .lead {
  color: #aaaacc;
}

/* line 67, ../sass/_frontpage.scss */
.navbar-bright li > a:hover {
  background-color: #000033;
}

/* line 71, ../sass/_frontpage.scss */
.task-container {
  margin-top: 1em;
}

/* line 76, ../sass/_frontpage.scss */
.task-intro .task-desc {
  padding-top: 2em;
}
/* line 80, ../sass/_frontpage.scss */
.task-intro .poster {
  width: 100%;
}

/* line 85, ../sass/_frontpage.scss */
.task-buttons {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #9597b5;
}

/* line 91, ../sass/_frontpage.scss */
.task-steps {
  visibility: hidden;
}
/* line 94, ../sass/_frontpage.scss */
.task-steps.animated {
  transition: all .75s ease-in-out;
}
/* line 98, ../sass/_frontpage.scss */
.task-steps.solo {
  visibility: visible;
}
/* line 102, ../sass/_frontpage.scss */
.task-steps.dual {
  visibility: visible;
  padding-left: 5%;
}

/* line 110, ../sass/_frontpage.scss */
.task-demo iframe.affix {
  top: 50px;
}
/* line 114, ../sass/_frontpage.scss */
.task-demo iframe.affix-bottom {
  left: 15px !important;
  bottom: 0;
  position: absolute;
}

/* line 122, ../sass/_frontpage.scss */
.footer {
  background-color: #BABAE0;
  border-top: 5px solid #8d8cc5;
}
/* line 126, ../sass/_frontpage.scss */
.footer .left {
  padding: 20px 25px 0 25px;
}
/* line 130, ../sass/_frontpage.scss */
.footer .right {
  padding: 20px 25px 0 25px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?harnvx");
  src: url("../fonts/icomoon.eot?#iefixharnvx") format("embedded-opentype"), url("../fonts/icomoon.woff?harnvx") format("woff"), url("../fonts/icomoon.ttf?harnvx") format("truetype"), url("../fonts/icomoon.svg?harnvx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_steps.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_steps.scss */
.icon-command:before {
  content: "\e600";
}

/* line 31, ../sass/_steps.scss */
.task-container h2 {
  margin-bottom: 4rem;
}
/* line 35, ../sass/_steps.scss */
.task-container .step {
  position: relative;
  margin: 2rem 4rem 2rem 0rem;
  cursor: pointer;
}
/* line 40, ../sass/_steps.scss */
.task-container .step .number {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: Futura;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 54, ../sass/_steps.scss */
.task-container .step .number:before {
  content: "";
  background-color: #a43;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
/* line 63, ../sass/_steps.scss */
.task-container .step .number span {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 73, ../sass/_steps.scss */
.task-container .step p {
  margin: 0 2rem 0 4rem;
  padding: .25rem .5rem;
  transition: background-color ease-in-out 1s;
}
/* line 79, ../sass/_steps.scss */
.task-container .step .current {
  background-color: white;
}
/* line 84, ../sass/_steps.scss */
.task-container .timesaver {
  margin: 1rem 4rem 1rem 4.5rem;
  font-style: italic;
}
/* line 88, ../sass/_steps.scss */
.task-container .timesaver::before {
  content: "Timesaver";
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #35a;
}
/* line 98, ../sass/_steps.scss */
.task-container .did-you-know {
  margin: 2rem 4rem 2rem 3rem;
  width: 70%;
  background-color: #c99;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.4);
}
/* line 107, ../sass/_steps.scss */
.task-container .did-you-know:before {
  content: "Did You Know?";
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 1rem .5rem;
}
/* line 115, ../sass/_steps.scss */
.task-container .did-you-know span.intro {
  font-weight: bold;
  font-style: italic;
}
