body {
  /*padding-top: 50px;*/ }

#main-bar {
  border: none; }

.inherit-height {
  height: inherit; }

#home-button {
  cursor: pointer; }

#toc-toggler {
  margin-left: 8px; }
  #toc-toggler:focus {
    outline: none; }
  #toc-toggler.open {
    background: white !important;
    color: #337ab7 !important; }

#side-menu {
  padding-top: 100px;
  z-index: -1;
  display: none;
  bottom: auto; }

.back-to-search {
  background-color: #334f3c; }
  .back-to-search #back-button {
    color: white; }

.normal {
  font-weight: normal;
  color: #313a4c; }

hr.examplefour {
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(54, 200, 44, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(54, 200, 44, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(54, 200, 44, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(54, 200, 44, 0.75), transparent); }

.headline {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 800; }

.blue-ish {
  color: darkblue; }

.label-que {
  background-color: black;
  padding-bottom: 0;
  vertical-align: middle; }

#contents-menu {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5); }
  #contents-menu .navbar {
    margin-bottom: 0; }
    #contents-menu .navbar .container-fluid p {
      margin-bottom: 0; }
  #contents-menu #contents-menu-list {
    border-top: 1px solid #3c365f;
    border-bottom: 3px solid #3c365f; }
  #contents-menu .entry.header .checkable {
    color: black;
    font-size: 125%; }
  #contents-menu .entry:not(.chapter):not(.header) {
    cursor: pointer; }
    #contents-menu .entry:not(.chapter):not(.header) a {
      padding: 5px 15px; }
    #contents-menu .entry:not(.chapter):not(.header):hover {
      background: #C8C8D8; }
  #contents-menu .entry.chapter {
    font-weight: bold;
    color: white;
    background: #3c365f; }
    #contents-menu .entry.chapter a {
      color: white; }
    #contents-menu .entry.chapter .checkable {
      border-left-color: #B1B2C1;
      color: #19CE19; }
  #contents-menu .entry.current {
    background-color: #ECECB6; }
  #contents-menu .entry {
    display: table-row; }
    #contents-menu .entry .checkable {
      display: table-cell;
      color: green;
      padding: 0 10px;
      border-left: 1px solid #3c365f;
      text-align: center; }

.divider {
  height: 50px;
  background-color: black;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px; }

.banner {
  background-color: #315cc7;
  padding: 15px 30px;
  text-align: center;
  color: #B6B9DF;
  border-radius: 20px;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  outline: none; }
  .banner .h2 {
    display: inline-block;
    vertical-align: top; }
  .banner.selected, .banner.selected:hover {
    background-color: #EAB136;
    color: #1A1C34; }
  .banner:hover {
    background-color: #121235;
    color: white; }

aside.sidenote {
  background-color: #8add8a;
  margin: 20px -20px 20px 50px;
  padding: 25px 25px 25px 50px;
  border-radius: 25px 0 0 25px; }
  aside.sidenote h3, aside.sidenote h4 {
    color: #7b6b48;
    margin-top: 0;
    font-size: 150%; }
  aside.sidenote h3 {
    font-size: 175%; }
  aside.sidenote h4 {
    font-size: 150%;
    text-transform: uppercase; }

aside.sidenote-not-all-good {
  background-color: #B23025;
  color: white;
  margin-top: 40px; }
  aside.sidenote-not-all-good h3 {
    color: #B23025;
    font-weight: 200;
    font-style: italic;
    margin-top: -2em; }
  aside.sidenote-not-all-good h4 {
    color: white;
    font-weight: 400; }

aside.sidenote-go-further {
  position: relative; }
  aside.sidenote-go-further h3 {
    color: white;
    font-weight: 200;
    font-style: italic;
    transform: rotate(-90deg) translateY(40%) translateX(-50%);
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: 0 0; }
    aside.sidenote-go-further h3::before {
      padding-right: 5px;
      content: "\003e\003e\003e";
      display: inline-block; }
  aside.sidenote-go-further h4.sidenote-title {
    font-weight: 400; }

.button-separator {
  background-color: #000044;
  margin-right: 0; }

.tutorial {
  /*
  position: absolute;
  transition: transform 1s ease-in-out;
  */ }

.navbar-brand:not(:hover) .title span.title {
  color: #ddd; }

#show-menu-button {
  background-color: #2aabd2; }

.navbar-toggle {
  padding: 6px 12px; }

#search-bar {
  padding-right: 8px;
  margin-right: 0; }

#header-nav .navbar-header a {
  cursor: pointer; }

#search-form {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center; }

#taskpane {
  background-color: white;
  display: block; }

#masthead {
  background-color: #000044;
  color: #aaaacc;
  padding-top: 60px; }
  #masthead .prev-next-buttons {
    height: 45px; }
    #masthead .prev-next-buttons .go-to-prev-task {
      margin-left: 8px; }
    #masthead .prev-next-buttons .go-to-next-task {
      margin-right: 8px; }

#masthead h1 {
  font-size: 55px;
  line-height: 1.25em; }

#masthead .well {
  margin-top: 13%;
  background-color: #111155;
  border-color: #000033; }

.icon-bar {
  background-color: #fff; }

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 100px; } }
.navbar-bright {
  background-color: #56B056;
  color: #fff; }

.navbar-bright a {
  color: #0D0D2F; }
  .navbar-bright a:hover {
    color: #8686b6; }

#masthead a, #masthead .lead {
  color: #D8DBA0; }

.navbar-bright li > a:hover {
  background-color: #000033; }

.task-container {
  padding-top: 1em;
  background-color: #dedfd4; }

.task-intro {
  display: none; }
  .task-intro .task-desc {
    padding-top: 2em;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 2em; }
    .task-intro .task-desc h2 {
      display: none; }
    .task-intro .task-desc p {
      display: none; }
  .task-intro .poster {
    width: 100%; }
  .task-intro h2 {
    color: white; }

.task-buttons {
  background-color: #9597b5;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px 25px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.task-steps {
  /*visibility: hidden;*/ }
  .task-steps.animated {
    transition: all .75s ease-in-out; }
  .task-steps.solo {
    visibility: visible; }
  .task-steps.dual {
    visibility: visible;
    padding-left: 5%; }
  .task-steps h2 {
    color: #30517c;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3); }
  .task-steps .steps > h2 + p {
    font-size: 150%; }

.task-demo {
  position: relative;
  /*overflow: hidden;*/
  /* Tab Navigation */
  /* Tab Content */ }
  .task-demo .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0; }
  .task-demo .nav-tabs > li > a {
    background: #C0C0C0;
    border-radius: 10px 10px 0 0;
    border: 1px solid transparent !important; }
    .task-demo .nav-tabs > li > a h3 {
      margin: 0; }
      .task-demo .nav-tabs > li > a h3 icon {
        margin-left: 10px; }
    .task-demo .nav-tabs > li > a:hover {
      background-color: #eee; }
  .task-demo .nav-tabs > li.active > a,
  .task-demo .nav-tabs > li.active > a:hover {
    background: #F5F5F5; }
  .task-demo .tab-pane {
    background: #F5F5F5;
    border-radius: 0;
    text-align: center;
    padding: 10px; }

@media (min-width: 992px) {
  #video-holder.affix-top {
    position: relative;
    top: 0px; }
  #video-holder.affix {
    top: 50px;
    position: fixed; }
  #video-holder.affix-bottom {
    position: absolute;
    bottom: 15px;
    top: auto !important; } }
.footer {
  background-color: #BABAE0;
  border-top: 5px solid #8d8cc5;
  padding: 20px 0; }
  .footer .panel {
    max-width: 600px;
    margin: 0 auto; }
  .footer .left {
    padding: 20px 25px 0 25px; }
  .footer .right {
    padding: 20px 25px 0 25px; }

.timesaver kbd {
  font-style: normal; }

.did-you-know {
  display: block;
  width: 10em;
  margin-left: auto;
  margin-right: 0; }

#watch-try-tabs .check-mark {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%); }
  #watch-try-tabs .check-mark i.fa-check-circle {
    color: #4C9A54; }
  #watch-try-tabs .check-mark i.fa-circle {
    color: #61EA22; }

#searchpane {
  background-color: #caf1fa;
  margin-top: 50px;
  min-height: 700px; }
  #searchpane .container {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 100px; }
    #searchpane .container #search-back {
      text-align: center; }
  #searchpane .search-results-container {
    margin-top: 50px; }

.search-result {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 1em 4em 1em 4em; }
  .search-result p.title {
    margin-top: 0;
    padding-top: 0;
    text-decoration: underline;
    cursor: pointer;
    color: #0078ae;
    display: inline-block;
    font-size: 150%; }
  .search-result .marker-new {
    position: relative;
    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
    .search-result .marker-new:before {
      content: "New";
      position: absolute;
      display: block;
      width: 6em;
      color: #dcef39;
      background-color: rgba(255, 0, 0, 0.5);
      text-align: center;
      height: 1.6em;
      transform: translateX(-50%) translateY(50%);
      -webkit-transform: translateX(-50%) translateY(50%);
      border-top: 1px solid red;
      border-bottom: 1px solid red; }
  .search-result .checkmark {
    position: absolute;
    z-index: 100;
    width: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }

.task-preview {
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 5px 10px #333;
  transition: background-color .25s ease-in-out; }
  .task-preview:hover {
    background-color: #c1e2c0;
    border: 1px solid #5cb249; }
  .task-preview h3 {
    overflow: hidden;
    height: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center; }

#previewModal h3 {
  margin-bottom: 1em; }

#homepane {
  background: url(../images/background.jpg), white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 75px;
  min-height: 100%; }
  #homepane > div {
    padding-top: 10px; }
  #homepane .jumbotron {
    background-color: #227DB6;
    color: white; }
    #homepane .jumbotron h3 {
      margin-top: 0;
      margin-bottom: 1em; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

#marketing-row {
  background-color: rgba(134, 155, 220, 0.25);
  min-height: 200px; }
  #marketing-row .carousel-control {
    background: none; }

.search-form {
  border-radius: 30px 0px 0px 30px; }

.search-button {
  /*border-radius: 0px 30px 30px 0px;*/
  cursor: pointer; }

#start-to-finish {
  background-color: #56b056;
  color: white; }

#welcome-search {
  background-color: #A5C6EC; }
  #welcome-search .input-group input {
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em; }
  #welcome-search .input-group .input-group-btn {
    height: 20px; }
    #welcome-search .input-group .input-group-btn button {
      height: 100%;
      box-sizing: content-box; }

.product-name {
  color: #222;
  text-shadow: -1px 1px 1px #3f3e5a; }

.credits {
  padding-top: 10px;
  background-color: #5c5c61;
  color: #b6b7c2; }

#marketing-carousel .carousel-inner > .item > img {
  margin: 0 auto; }

.badge-list {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1em;
  text-align: center; }
  .badge-list img {
    display: inline-block;
    width: 33%;
    padding: 0 5px 0 5px; }

#side-menu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0; }

.navmenu {
  width: 400px; }

.navmenu-que {
  background-color: #f5a346;
  border: none; }
  .navmenu-que .navmenu-brand {
    font-weight: bold;
    color: white !important;
    border-bottom: 1px solid white;
    padding-bottom: 20px; }
    .navmenu-que .navmenu-brand img {
      height: 16px; }
  .navmenu-que .nav > li {
    cursor: pointer; }
    .navmenu-que .nav > li a {
      color: black; }
    .navmenu-que .nav > li.active a {
      background-color: #9d7138;
      color: white; }
      .navmenu-que .nav > li.active a:hover {
        background-color: #453520; }
    .navmenu-que .nav > li:hover {
      background-color: #f5cb92; }

.container-narrow {
  margin: 0 auto; }

@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px; } }
.intro-box {
  max-width: 400px;
  margin: 0 auto; }
  .intro-box .panel-box {
    height: 150px;
    float: left;
    width: 33%;
    position: relative;
    cursor: pointer; }
    .intro-box .panel-box .panel-content {
      text-shadow: -1px 1px 2px black;
      /* centering:
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      */ }
    .intro-box .panel-box:hover::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.25); }
  .intro-box .panel-box:nth-child(1) {
    background: url(../images/stock1.jpg);
    background-size: cover;
    color: white; }
    .intro-box .panel-box:nth-child(1) .play-overlay {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      text-align: center; }
    .intro-box .panel-box:nth-child(1) .panel-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .intro-box .panel-box:nth-child(3) {
    background: url(../images/stock3.jpg);
    background-size: cover;
    color: white; }
    .intro-box .panel-box:nth-child(3) .panel-content {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: right;
      right: 1em;
      text-shadow: -1px 1px 2px darkblue; }

.coach.markcontainer {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000; }
  .coach.markcontainer:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .coach.markcontainer .mark {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    text-align: left;
    color: white;
    background: none;
    font-size: 24px;
    line-height: 1.2em; }
    .coach.markcontainer .mark img {
      position: absolute; }

.videopopup video {
  width: 100%; }

#start-chooser {
  padding-top: 2em; }

#choices {
  margin-top: 2em; }

#start-here {
  margin-top: 2em; }

#progress-menu {
  top: 51px;
  background: none;
  border: none; }

#accordion {
  /*
  transform: translateX(500px);
  */
  transition: transform .5s ease-in-out;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(50, 75, 200, 0.5); }

#right-col {
  overflow-x: hidden; }

#help {
  margin-right: 25px;
  opacity: 0;
  pointer-events: none; }

#logo {
  text-align: center; }
  #logo img {
    height: 20px;
    padding-right: 25px; }
  #logo span {
    color: white;
    vertical-align: bottom; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?harnvx");
  src: url("../fonts/icomoon.eot?#iefixharnvx") format("embedded-opentype"), url("../fonts/icomoon.woff?harnvx") format("woff"), url("../fonts/icomoon.ttf?harnvx") format("truetype"), url("../fonts/icomoon.svg?harnvx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-command:before {
  content: "\e600"; }

.task-container h2 button {
  margin-left: 2em; }
.task-container .step {
  position: relative;
  cursor: pointer;
  padding: 2px 5px 2px 5px; }
  .task-container .step span {
    box-sizing: border-box;
    padding: 2px 5px 2px 5px;
    margin-left: -6px; }
  .task-container .step .number {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: Futura;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .task-container .step .number:before {
      content: "";
      background-color: #a43;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 15px; }
    .task-container .step .number span {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      text-align: center; }
  .task-container .step p {
    margin: 0 2rem 0 4rem;
    padding: .25rem .5rem;
    transition: background-color ease-in-out 1s; }
.task-container .current {
  background-color: #f7ff80; }
.task-container .timesaver {
  margin: 1rem 4rem 1rem 4.5rem;
  font-style: italic; }
  .task-container .timesaver::before {
    content: "Timesaver";
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #35a; }

ol.steps {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 4em; }
  ol.steps li {
    position: relative;
    margin: 1.5em 0 1.5em 45px; }
  ol.steps li:before {
    font-family: "Futura";
    font-size: 20px;
    color: white;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -45px;
    top: 50%;
    margin-top: -15px;
    background: #a43;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    vertical-align: middle; }

/*# sourceMappingURL=main.css.map */
