html {
}

body {
	padding-top: 50px;
	background-color: #F2C694;
}

#main-bar {
	border: none;
}

#main-contents {
}

.inherit-height {
	height: inherit;
}

#home-button {
	color: white;
	font-weight: bold;
	font-size: 18px;
	
	img {
		height: 16px;
	}
}

#toc-button {
}

#side-menu {
	padding-top: 100px;
	z-index: -1;
	display: none;
	bottom: auto;
}

.back-to-search {
	background-color: rgb(51, 79, 60);

	#back-button {
		color: white;
	}
}

.normal {
	font-weight: normal;
	color: rgb(49, 58, 76);
}