html {
}

body {
	padding-top: 50px;
}

#main-bar {
	border: none;
}

#main-contents {
	min-height: 650px;
}

.inherit-height {
	height: inherit;
}

#home-button {
	color: white;
	font-weight: bold;
	font-size: 18px;
	
	img {
		height: 16px;
	}
}

#toc-button {
}

#side-menu {
	padding-top: 100px;
	z-index: -1;
}

.back-to-search {
	background-color: rgb(51, 79, 60);

	#back-button {
		color: white;
	}
}