html {
}

body {
	padding-top: 50px;
	background-color: #F2C694;
}

#main-bar {
	border: none;
}

#main-contents {
}

.inherit-height {
	height: inherit;
}

#home-button {
	color: white;
	font-weight: bold;
	font-size: 18px;
	
	img {
		height: 16px;
	}
}

#toc-button {
}

#side-menu {
	padding-top: 100px;
	z-index: -1;
	display: none;
	bottom: auto;
}

.back-to-search {
	background-color: rgb(51, 79, 60);

	#back-button {
		color: white;
	}
}

.normal {
	font-weight: normal;
	color: rgb(49, 58, 76);
}

hr.examplefour {
	border: 0;
	height: 3px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(54, 200, 44, 0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(54, 200, 44, 0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(54, 200, 44, 0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(54, 200, 44, 0.75), rgba(0,0,0,0));
}

.headline {
	font-family: 'Martel Sans', sans-serif;
	font-weight: 800;
}

.blue-ish {
	color: darkblue;
}

.label-que {
	background-color: black;
	padding-bottom: 0;
	vertical-align: middle;
}

#contents-menu {
	.entry:not(.chapter) {
		cursor: pointer;

		& a {
			padding: 5px 15px;
		}
	}

	.entry.chapter a {
		font-weight: bold;
		color: white;
		background: rgb(60, 54, 95);
	}
}

.divider {
	height: 50px;
	background-color: black;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
}

.banner {
	background-color: #315cc7;
	padding: 15px 30px;
	text-align: center;
	color: #B6B9DF;
	border-radius: 20px;
	display: inline-block;
	margin: 0 20px;

	.h2 {
		display: inline-block;
		vertical-align: top;
	}

	cursor: pointer;
	outline: none;

	&.selected, &.selected:hover {
		background-color: #EAB136;
		color: #1A1C34;
	}

	&:hover {
		background-color: rgb(18, 18, 53);
		color: white;
	}
}

aside.sidenote {
	background-color: rgb(138, 221, 138);
	margin: 20px -20px 20px 50px;
	padding: 25px 25px 25px 50px;
	border-radius: 25px 0 0 25px;

	h3, h4 {
		color: rgb(123, 107, 72);
		margin-top: 0;
		font-size: 150%;
	}

	h3 {
		font-size: 175%;
	}

	h4 {
		font-size: 150%;
		text-transform: uppercase;
	}
}

aside.sidenote-not-all-good {
	background-color: #B23025;
	color: white;
	margin-top: 40px;

	h3 {
		color: #B23025;
		font-weight: 200;
		font-style: italic;
		margin-top: -2em;
	}

	h4 {
		color: white;
		font-weight: 400;
	}
}

aside.sidenote-go-further {
	position: relative;

	h3 {
		color: white;
		font-weight: 200;
		font-style: italic;
		transform: rotate(-90deg) translateY(40%) translateX(-50%);
		position: absolute;
		left: 0;
		top: 50%;
		transform-origin: 0 0;

		&::before {
			padding-right: 5px;
			content: "\003e\003e\003e";
			display: inline-block;
		}
	}

	h4.sidenote-title {
		font-weight: 400;
	}
}

.button-separator {
	background-color: #000044;
	margin-right: 0;
}

.tutorial {
	position: absolute;
	transition: transform 1s ease-in-out;
}

.tutorial.try {
	transform: translateX(1500px);
}

.button-holder {
}