#homepane {
	background: url(../images/windows10.jpg), white;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-top: 75px;
	
	min-height: 100%;
	
	& > div {
		padding-top: 10px;
	}
	
	.jumbotron {
		background-color: #CAE8D2;

		h3 {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

#marketing-row {
	background-color: rgba(134, 155, 220, 0.25);
	min-height: 200px;
	
	.carousel-control {
		background: none;
	}
}

.search-form {
    border-radius: 30px 0px 0px 30px;
}

.search-button {
    /*border-radius: 0px 30px 30px 0px;*/
    cursor:pointer;
}

#start-to-finish {
	background-color: rgb(86, 176, 86);
	color: white;
}

#welcome-search {
	background-color: #A5C6EC;
	
	.input-group {
		
		input {
			font-size: 20px;
			padding-left: 1em;
			padding-right: 1em;
		}
		
		.input-group-btn {
			height: 20px;
			
			button {
				height: 100%;
				box-sizing: content-box;
			}
		}		
	}
}

.product-name {
	color: #222;
	text-shadow: -1px 1px 1px rgb(63, 62, 90);
}

.credits {
	padding-top: 10px;
	background-color: rgb(92, 92, 97);
	color: rgb(182, 183, 194);
}

#marketing-carousel {
	.carousel-inner > .item > img {
		margin: 0 auto;
	}
}

.badge-list {
	white-space: nowrap;
	overflow: hidden;
	margin-top: 1em;
	text-align: center;
	
	img {
		display: inline-block;
		width: 33%;
		padding: 0 5px 0 5px;
	}
}

#side-menu2 {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	border-radius: 0;
}

.navmenu {
	width: 400px;
}

.navmenu-que {
	background-color: rgb(245, 163, 70);
	border: none;
	
	.navmenu-brand {
		font-weight: bold;
		color: white !important;
		border-bottom: 1px solid white;
		
		padding-bottom: 20px;
		
		img {
			height: 16px;
		}
	}
	
	.nav > li {		
		cursor: pointer;
		
		a {
			color: black;
		}
		
		&.active a {
			background-color: rgb(157, 113, 56);
			color: white;
			
			&:hover {
				background-color: #453520;
			}
		}
		
		&:hover {
			background-color: rgb(245, 203, 146);
		}
	}
}

.container-narrow {
	margin: 0 auto;
}

@media (min-width: 768px) {
	.container-narrow {
		max-width: 730px;
	}
}

.intro-box {
	max-width: 400px;
	margin: 0 auto;

	.panel-box {
		height: 150px;
		float: left;		
		width: 33%;
		position: relative;
				
		.panel-content {
			text-shadow: -1px 1px 2px black;
			
			/* centering:
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			*/			
		}
		
		cursor: pointer;
		
		&:hover::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(255, 255, 255, .25);
		}
	}
	
	.panel-box:nth-child(1) {
		background: url(../images/stock1.jpg);
		background-size: cover;
		color: white;
		
		.play-overlay {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			-webkit-transform: translateY(-50%) translateX(-50%);
			text-align: center;
		}
		
		.panel-content {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	}

	.panel-box:nth-child(2) {
	}

	.panel-box:nth-child(3) {
		background: url(../images/stock3.jpg);
		background-size: cover;
		color: white;
		
		.panel-content {
			position: absolute;
			top: 0;
			width: 100%;
			text-align: right;
			right: 1em;
			text-shadow: -1px 1px 2px darkblue;
		}
	}
}

.coach {
	&.markcontainer {
		font-family: 'Permanent Marker', cursive;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10000;
		
		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, .3);
		}
		
		.mark {
			display: block;
			position: absolute;
			width: auto;
			height: auto;
			text-align: left;
			color: white;
			background: none;
			font-size: 24px;
			line-height: 1.2em;
			
			img {
				position: absolute;
			}
		}
	}
}

.videopopup {
	video {
		width: 100%;
	}
}

#start-chooser {
	padding-top: 2em;
}

#choices {
	margin-top: 2em;
}

#start-here {
	margin-top: 2em;
}

#progress-menu {
	top: 51px;
	background: none;
	border: none;
}

#accordion {
	/*
	transform: translateX(500px);
	*/
	transition: transform .5s ease-in-out;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(50, 75, 200, .5);
}

#right-col {
	overflow-x: hidden;
}

#help {
	margin-right: 25px;
}

#logo {
	text-align: center;

	img {
		height: 40px;
		margin-top: 5px;
	}

	span {
		color: white;
		vertical-align: bottom;
	}
}