#search-form {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}

#taskpane {
	background-color: white;
	display: block;
}

#masthead {
	min-height:270px;
	background-color:#000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1.25em;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color: #56B056;
    color: #fff;
}
  
.navbar-bright a {
	color: #0D0D2F;
	
	&:hover {
		color: #8686b6;
	}
}

#masthead a, #masthead .lead {
  	color: #D8DBA0;
}

.navbar-bright li > a:hover {
    background-color: #000033;
}

.task-container {
	padding-top: 1em;
	background-color: rgb(222, 223, 212);
}

.task-intro {
	padding-bottom: 2em;
	
	.task-desc {
		padding-top: 2em;
	}
	
	.poster {
		width: 100%;
	}
	
	h2 {
		color: white;
	}
}

.task-buttons {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: rgb(149, 151, 181);
}

.task-steps {
	/*visibility: hidden;*/
	
	&.animated {
		transition: all .75s ease-in-out;
	}
	
	&.solo {
		visibility: visible;
	}
	
	&.dual {
		visibility: visible;
		padding-left: 5%;
	}
	
	h2 {
		color: rgb(48, 81, 124);
		text-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
	}
}

.task-demo {
	iframe {
		&.affix {
			top: 50px;
		}
		
		&.affix-bottom {
			left: 15px !important;
			bottom: 0;
			position: absolute;
		}
	}
}

.footer {	
	background-color: #BABAE0;
	border-top: 5px solid rgb(141, 140, 197);
	
	.left {
		padding: 20px 25px 0 25px;
	}
	
	.right {
		padding: 20px 25px 0 25px;
	}
}

.timesaver kbd {
	font-style: normal;
}

.did-you-know {
	display: block;
	width: 10em;
	margin-left: auto;
	margin-right: 0;
}